.well
  = form_for [current_channel, @relationship], html: { class: 'form-horizontal' } do |f|
    - if @relationship.id.nil?
      .control-group
        = f.label :email, class: 'control-label'
        .controls
          = f.text_field :email, { value: "", class: 'text_field', autocomplete: :off }
    .control-group
      = f.label :invitation_text, class: 'control-label'
      .controls
        = text_area_tag :invitation_text, '', { value: "", class: 'text_field', autocomplete: :off }
    .control-group
      = f.label :admin, class: 'control-label'
      .controls
        = f.check_box :admin, class: 'check_box', checked: @relationship.admin
    .form-actions.with-padding
      = f.submit t('relationships.new'), class: 'btn btn-primary'
      = link_to t('.cancel', default: t("helpers.links.cancel")),  |
        channel_relationships_path(current_channel), class: 'btn' |
