= form_for current_channel, html: { class: 'form-horizontal' } do |f|
  .control-group
    = f.label :name, class: 'control-label'
    .controls
      = f.text_field :name, {class: 'text_field', placeholder: t('helpers.name'), autocomplete: :off}

  .control-group
    = f.label :defaultLanguage, class: 'control-label'
    .controls
      = select :channel, :defaultLanguage, [[t("application.de"), "de"], [t("application.en"), "en"]]

  - if current_user.is_admin?
    .control-group
      = f.label :advertising, class: 'control-label'
      .controls
        = f.check_box :advertising, class: 'check_box'
        = t('helpers.advertisting')

  - if current_user.is_admin?
    .control-group
      = f.label :planningTool, class: 'control-label'
      .controls
        = f.check_box :planningTool, class: 'check_box'
        %a{href: "#", rel: "tooltip", title: "#{t('tooltip.planningTool')}"}
          = t('helpers.planningTool')

  .form-actions
    = f.submit nil, class: 'btn btn-primary'
    = link_to t("helpers.links.cancel"), channels_path, class: 'btn'

