= form_for @current_channel do |f|
  %fieldset
    .clearfix
      = f.text_field :name, {class: 'text_field', placeholder: t('helpers.name'), autocomplete: :off}

    .clearfix
      = select :channel, :defaultLanguage, [[t("application.de"), "de"], [t("application.en"), "en"]]

    - if current_user.is_admin?
      .clearfix
        = f.check_box :advertising, class: 'check_box'
        = t 'helpers.advertisting'

    .clearfix
      = f.check_box :planningTool, class: 'check_box'
      %a{href: "#", rel: "tooltip", title: "#{t('tooltip.planningTool')}"}
        = t 'helpers.planningTool'

    = f.submit nil, class: 'btn btn-success btn-large'
    = link_to t("helpers.links.cancel"), channels_path, class: 'btn btn-large btn-inverse'

