
<script type="text/javascript" src="/javascript/messages.js"></script>

%h1 &nbsp;

%table{:class => "table table-bordered table-condensed message"}
  %tr
    %td
      .pull-right
        - if has_admin_privileges? || @message.user == current_user
          = link_to edit_message_path(@message), class: 'btn' do
            %i{:class=>"icon icon-pencil"}


          = link_to message_path(@message),
            method: 'delete',
            class: 'btn btn-danger',
            data: {confirm: t('.confirm', default: t("helpers.links.confirm"))} do

            %i{:class=>"icon icon-trash"}

      = avatar(@message.user)
      = render partial: 'mark_as_important', locals: {:message => @message}

      %h2
        = link_to @message.title, message_path(@message)

      %nobr
        = link_to @message.user_name, user_path(@message.user)
        at
        =l @message.created_at, format: :short


  %tr
    %td
      = auto_link(@message.content.html_safe)

      %br
      %br
      %br

      .advertising
        .ad
          = t('ad')

          :javascript
            <!--
            google_ad_client = "ca-pub-4129785061498511";
            /* Subwire Message */
            google_ad_slot = "0223575696";
            google_ad_width = 728;
            google_ad_height = 90;
            //-->
          <script type="text/javascript" src="http://pagead2.googlesyndication.com/pagead/show_ads.js"></script>



  %tr
    %td
      .comments
        = render partial: 'shared/comments', locals: {message: @message, comments: @message.newest_comments.take(5)}
