<%- model_class = Instance.new.class -%>

<div class="instanceChooser">
	<h1><%= t('instances.your_instances') %></h1>

	<br />

	<table class="table table-striped">
		<tbody>
			<% @instances.each do |instance| %>
				<tr>
					<td><%= link_to instance.name, instance_path(instance) %></td>
					<td>
						<div align="right">
							<%= link_to edit_instance_path(instance), :class => 'btn btn-mini' do %>
								<i class="icon icon-pencil"></i>
							<% end %>

							<%= link_to instance_path(instance),
								:method => :delete,
								:confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')),
								:class => 'btn btn-mini btn-danger' do %>

								<i class="icon icon-trash"></i>
							<% end %>
						</div>
					</td>
				</tr>
			<% end %>
		</tbody>
	</table>

	<% if !has_superadmin_privileges? && @adminCount > 4 %>
		<br />

		<div class="alert alert-error">
			<i class="icon  icon-exclamation-sign"></i>
			<%= t('instances.hit_limit') %>
		</div>
	<% else %>
		<div class="buttons">
			<%= link_to(new_instance_path, :class => 'btn btn-success btn-large') do %>
				<i class="icon icon-home"></i>
				<%= t('instances.new') %>
			<% end %>
		</div>
	<% end %>
</div>