- model_class = Message.new.class

/ Search results
- if params[:query].present?
  %table{class: "table table-bordered table-condensed message"}
    %tr
      %td
        %h2
          = t('messages.search_result')

    %tr
      %td
        = t('messages.search_counter', query: params[:query], count: @messages.length)


.well
  %h1
    %i.icon.icon-comments
    = t('application.message_management')

    &nbsp;
    &nbsp;

    %span.badge.badge-info
      %i.icon.icon-comments
      = @messages.count

    = render partial: 'shared/new', locals: {url: new_channel_message_path(current_channel), tip: 'messages.new'}

  - if @messages.count > 0
    - counter = 0
    - @messages.each do |message|
      = render partial: 'shared/message', locals: {message: message, full: false, counter: counter}
      - counter += 1
  - else
    = render partial: 'no_messages'

= will_paginate @messages
