- model_class = Message.new.class

/ Search results
- if params[:query].present?
  %table{class: "table table-bordered table-condensed message"}
    %tr
      %td
        %h2
          = t('messages.search_result')

    %tr
      %td
        = t('messages.search_counter', query: params[:query], count: @messages.length)


.well
  %h1
    Messages

    = link_to new_channel_message_path(@current_channel), {class: 'btn btn-small', data: {container: 'body'}, rel: 'tooltip', title: t('messages.new')} do
      %i.icon.icon-plus-sign

  - if @messages.count > 0
    - @messages.each do |message|
      = render partial: 'shared/message', locals: {message: message, full: false}
  - else
    = render partial: 'no_messages'

= will_paginate @messages