<%- model_class = Article.new.class -%>
<h1><%=t '.title', :default => model_class.model_name.human.pluralize %></h1>

<% @articles.each do |article| %>
    <div class="article well">
        <h2><%= link_to article.title, article_path(article) %></h2>

        <nobr>
            <%= colored_name(article.user) %> at <%=l article.created_at, format: :short %>
        </nobr>

        <%= article.content.html_safe %>

        <div class="buttons">
          <%= link_to 'edit', edit_article_path(article), :class => 'btn btn-mini' %>

          <%= link_to 'delete',
                    article_path(article),
                    :method => :delete,
                    :confirm => 'Are you sure?',
                    :class => 'btn btn-mini btn-danger' %>
        </div>

        <div class="comments">
          <a href="#" onclick="return commentToggle(this);">
            <span class="icon-chevron-down">&nbsp;</span>
            Comments
          </a>

          <div class="commentContainer">
            <table>
              <% article.comments.each do |comment| %>
                <tr>
                  <td><%= colored_name(comment.user) %>:</td>
                  <td><%= comment.content %></td>
                </tr>
              <% end %>
            </table

            <strong>New comment</strong>

            <%= form_for([article, article.comments.build]) do |f| %>
              <%= f.text_field :content %>
              <%= f.submit %>
            <% end %>
          </div>
        </div>
    </div>
<% end %>
