<%- model_class = @article.class -%>
<h1><%= @article.title %></h1>

<div class="well">
  <%= @article.content.html_safe %>

  <div class="comments commentList">
    <h5>Comments:</h5>

    <table>
      <% @article.comments.each do |comment| %>
        <tr>
          <td><%= colored_name(comment.user) %>:</td>
          <td><%= comment.content %></td>
        </tr>
      <% end %>
    </table>

    <br />

    <%= form_for([@article, @article.comments.build]) do |f| %>
      <div class="input-append">
        <%= f.text_field :content, :class => "span7" %><%= f.submit "Save", :class => 'btn' %>
      </div>
    <% end %>
  </div>
</div>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              articles_path, :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_article_path(@article), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              article_path(@article),
              :method => 'delete',
              :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')),
              :class => 'btn btn-danger' %>
</div>
