<table class="table table-bordered table-condensed article">
	<tr>
		<td>
			<%= image_tag @article.user.avatar.url(:small), :class => 'avatar' %>

			<h2>
				<%= link_to @article.title, article_path(@article) %>
			</h2>

			<nobr>
				<%= link_to @article.user.name, user_path(@article.user) %> at
				<%=l @article.created_at, format: :short %>
			</nobr>
		</td>
	</tr>

	<tr>
		<td>
			<%= auto_link(@article.content.html_safe) %>

			<div class="ad">
				<% if display_ads %>
					<script type="text/javascript"><!--
					google_ad_client = "ca-pub-4129785061498511";
					/* Subwire Artikel */
					google_ad_slot = "0223575696";
					google_ad_width = 728;
					google_ad_height = 90;
					//-->
					</script>
					<script type="text/javascript"
					src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
					</script>
				<% end %>
			</div>
		</td>
	</tr>

	<tr>
		<td>
			<div class="comments">
				<%= render :partial => 'shared/comments', :locals => {:article => @article} %>
			</div>
		</td>
	</tr>
</table>

<div class="form-actions">
  <%= link_to edit_article_path(@article), :class => 'btn' do %>
	<i class="icon icon-pencil"></i>
  <% end %>
  <%= link_to article_path(@article),
			  :method => 'delete',
			  :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')),
			  :class => 'btn btn-danger' do %>
	<i class="icon icon-trash"></i>
  <% end %>
</div>
