<%- model_class = User.new.class -%>
<h1><%=t '.title', default: model_class.model_name.human %></h1>

<div class="well">
    <table class="table table-striped">
        <thead>
            <tr>
                <th><i class="icon icon-user"></i></th>
                <th><%= model_class.human_attribute_name(:name) %></th>
                <th><%= model_class.human_attribute_name(:email) %></th>
                <th><%= model_class.human_attribute_name(:is_admin) %></th>
                <th><%=t '.actions', default: t("helpers.actions") %></th>
            </tr>
        </thead>
        <tbody>
            <% @relationships.each do |relationship| %>
                <% relationship = Relationship.find_by_channel_and_user(current_channel, relationship.user) %>
                <tr>
                    <td><%= avatar(relationship.user, :list) %></td>
                    <td><%= link_to relationship.user.name, user_path(relationship.user) %></td>
                    <td><%= relationship.user.email %></td>
                    <td>
                        <% if relationship.user.is_admin? %>
                            <i class="icon icon-star">
                        <% else %>
                            <%= boolean_icon(relationship.admin) %>
                        <% end %>
                    </td>
                    <td>
                        <%= link_to edit_relationship_path(relationship), :class => 'btn btn-mini' do %>
                            <i class="icon icon-pencil"></i>
                        <% end %>
                        <%= link_to relationship_path(relationship),
                            :method => :delete,
                            :data => {:confirm => t('.confirm', default: t("helpers.links.confirm"))},
                            :class => 'btn btn-mini btn-danger' do %>

                            <i class="icon icon-trash"></i>
                        <% end %>
                    </td>
                </tr>
            <% end %>
        </tbody>
    </table>

  <%= will_paginate @relationships %>

    <%= link_to t('relationships.new', default: t("helpers.relationships.new")),
        "/relationships/new",
        :class => 'btn btn-primary' %>

    <a class="popover_help" href="#" rel="popover" data-content="<%= t('popover.relationship_content') %>" data-original-title="<%= t('popover.relationship_title') %>">
        <i class="icon icon-question-sign"></i>
    </a>
</div>