<%- model_class = @relationship.class -%>
<h1><%=t '.title', :default => t('helpers.titles.new', :model => model_class.model_name.human,
                               :default => "New #{model_class.model_name.human}") %></h1>
<%= form_for @relationship, :html => { :class => 'form-horizontal' } do |f| %>
	<div class="control-group">
		<%= label :user, :email, :class => 'control-label' %>

		<div class="controls">
			<%= text_field :email, :class => 'text_field' %>
		</div>
	</div>

	<div class="control-group">
		<%= f.label :admin, :class => 'control-label' %>

		<div class="controls">
			<%= f.check_box :admin, :class => 'check_box' %>
		</div>
	</div>

	<div class="form-actions">
    	<%= f.submit nil, :class => 'btn btn-primary' %>
    	<%= link_to t('.cancel', :default => t("helpers.links.cancel")),
			users_path, :class => 'btn' %>
	</div>
<% end %>