= form_for [current_channel, @link], html: { class: 'form-horizontal' } do |f|
  .control-group
    = f.label :name, class: 'control-label'
    .controls
      = f.text_field :name, { class: 'text_field', autocomplete: :off }

  .control-group
    = f.label :href, class: 'control-label'
    .controls
      = f.text_field :href, { class: 'text_field', autocomplete: :off }
      &nbsp;
      %img.hidden{src: ''}

  :javascript
    $(function() {
      var input = $('#link_href'),
          img = $('#link_href + img');

      input.keyup(function(e) {
        var val = input.val();
        if(val.length > 10) {
          img.attr('src', 'http://g.etfv.co/' + encodeURIComponent(val));
          img.removeClass('hidden');
        } else {
          img.addClass('hidden');
        }
      });
    });

  .form-actions.with-padding
    = f.submit nil, class: 'btn btn-primary'
    = link_to t('.cancel', default: t("helpers.links.cancel")), |
      channel_links_path(current_channel), class: 'btn'        |
