- model_class = @user.class

.well
  %h1
    = t('.title', default: t('helpers.submit.update', model: model_class.model_name.human, |
    default: "Edit #{model_class.model_name.human}"))
  = form_for @user, html: { class: 'form-horizontal', multipart: true } do |f|
    .control-group
      = f.label :name, class: 'control-label'
      .controls
        = f.text_field :name, class: 'text_field', maxlength: 30
    - if can? :admin, :all
      .control-group
        = f.label :is_admin, class: 'control-label'
        .controls
          = check_box_tag :is_admin, true, @user.is_admin, {class: 'check_box'}
    .control-group
      = f.label :password, class: 'control-label'
      .controls
        = f.password_field :password, class: 'text_field'
    .control-group
      = f.label :password_confirmation, class: 'control-label'
      .controls
        = f.password_field :password_confirmation, class: 'text_field'
    .control-group
      = f.label :lang, class: 'control-label'
      .controls
        = f.select :lang, [[t("application.de"), "de"], [t("application.en"), "en"]]
    .control-group
      = f.label :timezone, class: 'control-label'
      .controls
        = f.select :timezone, ["Berlin", "Paris", "London", "Amsterdam", "Bern", "Madrid", "International Date Line West", "Alaska", "Central America", "Pacific Time (US & Canada)", "Mountain Time (US & Canada)", "Central Time (US & Canada)", "Eastern Time (US & Canada)", "Caracas", "Atlantic Time (Canada)", "Newfoundland", "Buenos Aires", "Mid-Atlantic", "Azores", "Jerusalem", "Baghdad", "Nairobi", "Tehran", "Moscow", "Kabul", "Islamabad", "Mumbai", "Kathmandu", "Ekaterinburg", "Rangoon", "Bangkok", "Tokyo", "Fiji", "Hawaii"]
    .control-group
      = f.label :show_login_status, class: 'control-label'
      .controls
        = check_box_tag :show_login_status, true, @user.show_login_status, {class: 'check_box'}
    .control-group
      %a{:href => "#", :rel => "tooltip", :style => "display:block; width:210px;", :title => t("tooltip.gravatar")}
        = f.label :gravatar, class: 'control-label'
      .controls
        = check_box_tag :gravatar, true, @user.gravatar, {class: 'check_box'}
    .avatar-upload.control-group
      = f.label :avatar, class: 'control-label'
      .controls
        = f.file_field :avatar
        %br/
        %br/
        = image_tag @user.avatar.url
        %br/
        %br/
        %br/
    - if @user.gravatar
      :javascript
        $('.avatar-upload').hide();
    :javascript
      $('#gravatar').click(function() {
        $('.avatar-upload').toggle('slow');
      });
    .control-group
      = label :mail_notification, " ", class: 'control-label'
      .controls
        %div
          %table.table.table-bordered.table-striped
            %thead
              %td
                %b
                  = t('channels.your_channels')
                  \:
              %td
                %b= t('relationships.mail.notification')
            - @relationships.each do |relationship|
              %tr
                %td
                  = Channel.find(relationship.channel_id).name
                  \:
                %td= check_box_tag :Instanz, true, relationship.mail_notification, {id: 'rel'+relationship.id.to_s,name: 'rel'+relationship.id.to_s, class: 'check_box'}
    .control-group
      = label :delete_account, " ", class: 'control-label'
      .controls
        .alert.alert-error
          %table
            %tr
              %td
                = link_to t('users.delete_account'), user_path(@user), |
                  method: :delete,                                     |
                  class: 'btn btn-danger danger-button no-lock',       |
                  confirm: t("helpers.links.confirm")                  |
              %td
                %p{:style => "padding-left:35px;"}
                  = t('users.delete_alert').html_safe
    .form-actions.with-padding
      = f.submit nil, class: 'btn btn-primary'
      = link_to t('.cancel', default: t("helpers.links.cancel")), |
        users_path, class: 'btn'                                  |
    %br/
    %br/
