<h1>Listing users</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Email</th>
    <th>Is admin</th>
    <th>Login</th>
    <th>Encrypted password</th>
    <th>Remember created at</th>
    <th>Color</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @users.each do |user| %>
  <tr>
    <td><%= user.name %></td>
    <td><%= user.email %></td>
    <td><%= user.is_admin %></td>
    <td><%= user.login %></td>
    <td><%= user.encrypted_password %></td>
    <td><%= user.remember_created_at %></td>
    <td><%= user.color %></td>
    <td><%= link_to 'Show', user %></td>
    <td><%= link_to 'Edit', edit_user_path(user) %></td>
    <td><%= link_to 'Destroy', user, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New User', new_user_path %>
