- model_class = @user.class

.well
  %h1
    %i.icon.icon-user
    = @user.name
  %table.table.table-striped.table-bordered.table-condensed
    %tr
      %td.span2.avatarCell{rowspan: can?(:edit, @user) ? 9 : 8}
        = avatar(@user, :default)
    - if can? :edit, @user
      %tr
        %th.span3
          = model_class.human_attribute_name(:email)
          \:
        %td= @user.email
    %tr
      %th.span3
        = model_class.human_attribute_name(:is_admin)
        \:
      %td= boolean_icon(@user.is_admin)
    %tr
      %th.span3
        = model_class.human_attribute_name(:lang)
        \:
      %td= t("application." + @user.lang)
    %tr
      %th.span3
        = t('users.assignedCount')
        \:
      %td= @assignedCount
    %tr
      %th.span3
        = t('users.adminCount')
        \:
      %td= @adminCount
    %tr
      %th.span3
        = t('users.messagesCount')
        \:
      %td= @messagesCount
    %tr
      %th.span3
        = t('users.commentsCount')
        \:
      %td= @commentsCount
    - if @canInvite.length > 0
      %tr{colspan: 2}
        %th.span3
          = t('users.invite')
        %td 
          %select{ class: 'chosen-select'}
            - @canInvite.each do |c|
              %option
                = c.name
  - if can? :edit, @user
    .form-actions
      = link_to edit_user_path(@user), class: 'btn' do
        %i.icon.icon-pencil
      - if @user != current_user
        = link_to user_path(@user),                                                        |
          method: 'delete',                                                                |
                      data: {confirm: t('.confirm', default: t("helpers.links.confirm"))}, |
          class: 'btn btn-danger' do                                                       |
          %i.icon.icon-trash
