%h2
  = t('users.forgot_password')

%br

= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f|
  %fieldset
    %div{:class => "clearfix"}
      = f.text_field :email, class: 'text_field', placeholder: t('helpers.email')

    %br/
    %button{:class => "btn btn-success", :name => "commit", :type => "submit"}
      = t('devise.passwords.send_instructions_button')
    = link_to t("helpers.links.cancel"), new_session_path(resource_name), class: "btn btn-inverse"
