.well
  %h1
    %i.icon.icon-home
    Channels
    = link_to new_channel_path, {class: 'btn btn-small'} do
      %i.icon.icon-plus-sign
  %ul.channels.nav.nav-list
    - channels.each do |channel|
      - active = channel == current_channel
      - notificationCount = channel.notification_count(current_user)
      %li{:class => "#{active ? 'active' : ''} channel-#{channel.id}"}
        %i{:class => "icon icon-chevron-#{active ? 'down' : 'right'} pull-left"}
        = link_to channel_path(channel) do
          %strong
            = channel.name
      - if active
        - active = @active_section == :discussions
        %li{:class => "sub-navi #{active ? 'active' : ''}"}
          %i{:class => "#{active ? '' : 'muted'} icon icon-comments pull-left"}
          %a{:href => channel_messages_path(current_channel)}
            #{t('application.message_management')}
            - if active
              %i.icon.icon-chevron-right.pull-right
        - active = @active_section == :wiki
        %li{:class => "sub-navi #{active ? 'active' : ''}"}
          %i{:class => "#{active ? '' : 'muted'} icon icon-book pull-left"}
          %a{:href => channel_wikis_home_path(current_channel)}
            #{t('application.wiki_management')}
            - if active
              %i.icon.icon-chevron-right.pull-right
        - if can? :edit, current_channel
          - active = @active_section == :members
          %li{:class => "sub-navi #{active ? 'active' : ''}"}
            %i{:class => "#{active ? '' : 'muted'} icon icon-user pull-left"}
            %a{:href => channel_relationships_path(current_channel)}
              #{t('application.user_management')}
              - if active
                %i.icon.icon-chevron-right.pull-right
          - active = @active_section == :bookmarks
          %li{:class => "sub-navi #{active ? 'active' : ''}"}
            %i{:class => "#{active ? '' : 'muted'} icon icon-bookmark pull-left"}
            %a{:href => channel_links_path(current_channel)}
              #{t('application.link_management')}
              - if active
                %i.icon.icon-chevron-right.pull-right
          - active = @active_section == :settings
          %li{:class => "sub-navi #{active ? 'active' : ''}"}
            %i{:class => "#{active ? '' : 'muted'} icon icon-cog pull-left"}
            %a{:href => edit_channel_path(current_channel)}
              #{t('channels.edit')}
              - if active
                %i.icon.icon-chevron-right.pull-right
        %li &nbsp;
