<div class="commentList" id="article-comments-<%= article.id %>">
    <h5><%=t 'comments.plural' %>:</h5>

    <table class="table table-bordered table-condesed">
      <% comments.each do |comment| %>
        <tr>
          <th class="avatar">
            <%= avatar(comment.user) %>
            </th>

          <td>
            <div class="commentButtons">
              <% if current_user.is_admin? || comment.user == current_user %>
                <%= link_to article_comment_path(article, comment),
                        method: :delete,
                        data: {confirm: t('.confirm', default: t("helpers.links.confirm"))} do %>
                  <i class="icon icon-remove"></i>
                <% end %>
                      <a href="#" rel="tooltip" data-original-title="<%= t('tooltip.comment_edit') %>" onClick="editComment('<%= comment.id %>')">
                            <i class="icon icon-edit"></i>
                        </a>

                      <% end %>
                    </div>

                   <div class="comment" id="comment<%= comment.id %>" align="left">
                    <strong>
                        <%= link_to comment.user.name, user_path(comment.user) %>
                    </strong>
                    <br />
                    <%= auto_link(comment.content).html_safe %>
                  </div>

                  <div class="comment-edit" id="comment<%= comment.id %>edit" style="display:none;">
                    <%= form_for([article, comment]) do |f| %>
                    <div class="input-append">
                      <%= f.text_field :content, { class: "span6", autocomplete: :off } %>
                      <%= f.submit "Save", class: 'btn' %>
                    </div>
                  <% end %>
                </div>
          </td>
        </tr>
      <% end %>
      <% if article.comments.size > comments.size%>
        <tr>
          <td style="padding-left:15px">
            <a href="javascript:void(0)" onclick="loadAllComments(<%= article.id %>)">more</a>
          </td>
        </tr>
      <% end %>


    </table>

    <br />

    <%= form_for([article, article.comments.build]) do |f| %>
        <%= f.text_field :content, { class: "span9", autocomplete: :off } %>

        <br />

        <span><i class="icon icon-info-sign"></i> Press enter to submit</span>
    <% end %>
</div>