<div class="comment-list <%= @in_message ? 'comment-list-visible' : '' %>" id="message-comments-<%= message.id %>">
  <% if message.comments.size > comments.size %>
    <a href="javascript:void(0)" class="comments-more"
      onclick="loadAllComments('<%= message.channel.id %>', <%= message.id %>)">

      <%= message.comments.size - 4 %> <%= t 'comments.more' %>
    </a>
  <% end %>

  <% comments.each do |comment| %>
    <div class="comment">
      <%= avatar(comment.user, :tiny, 'pull-left') %>

      <div class="body">
        <strong>
            <%= link_to comment.user_name, user_path(comment.user) %>
        </strong>

        <br />

        <%= auto_link(comment.content).html_safe %>

        <div class="comment-edit" id="comment<%= comment.id %>edit" style="display:none;">
          <%= form_for([@current_channel, message, comment]) do |f| %>
            <div class="input-append">
              <%= f.text_field :content, { class: "span6", autocomplete: :off } %>
              <%= f.submit "Save", class: 'btn' %>
            </div>
          <% end %>
        </div>

        <nobr>
          At
          <%= l comment.created_at, format: :short %>

          &nbsp;

          <% if can?(:delete, comment) %>
            <%= link_to channel_message_comment_path(@current_channel, message, comment),
                    method: :delete,
                    data: {confirm: t('.confirm', default: t("helpers.links.confirm"))} do %>
              <%= t 'comments.delete' %>
            <% end %>

            &nbsp;

            <a href="#" rel="tooltip" data-original-title="<%= t('tooltip.comment_edit') %>" onClick="editComment('<%= comment.id %>')">
              <%= t 'comments.edit' %>
            </a>
          <% end %>
        </nobr>
      </div>
    </div>
  <% end %>

  <div class="comment">
    <%= avatar(current_user, :tiny, 'pull-left') %>

    <div class="body">
      <%= form_for([@current_channel, message, message.comments.build]) do |f| %>
        <%= f.text_area :content, { rows: 2, class: "autogrow comment", autocomplete: :off} %>

        <br />

        <input type="submit" class="btn btn-mini btn-success" value="<%= t 'comments.save' %>" />
      <% end %>
    </div>
  </div>
</div>