.message{class: counter % 2 == 0 ? 'even' : 'odd'}
  = avatar(message.user, :small, 'pull-left')

  .arrow

  .buttons
    - if can?(:edit, current_channel) || message.user == current_user
      = link_to edit_channel_message_path(current_channel, message) do
        %i{:class=>"icon icon-pencil"}

      &nbsp;

      = link_to channel_message_path(current_channel, message),
        method: :delete,
        data: {confirm: t('.confirm', default: t("helpers.links.confirm"))} do
        %i{:class=>"icon icon-trash"}

  .body
    - if message.comments.length > 0
      .comment-counter
        %span.badge
          %i.icon.icon-comment
          = message.comments.length
    - unless message.title.nil?
      %h2
        = link_to message.title, channel_message_path(current_channel, message)

    = full ? preprocess_message(message) : message_teaser(message)

    %nobr
      = link_to message.user_name, user_path(message.user)
      at
      = l message.created_at, format: :short

      &nbsp;

      = render partial: 'mark_as_important', locals: {:message => message}

      - unless @in_message
        &nbsp;

        %a{:href=>"#", :onclick=>"return commentToggle(this);"}
          = message.comments.length
          =t('comments.plural')

    = render partial: 'shared/comments', locals: {comments: message.newest_comments.take(4).reverse, message: message}