<li class="dropdown iconOnly">
	<a href="#" class="dropdown-toggle" data-toggle="dropdown">
		<i class="icon icon-exclamation-sign"></i>
		<b class="caret"></b>


		<% if @unread_notification_count > 0 %>
			<span class="notification-badge badge badge-info">
				<%= @unread_notification_count %>
			</span>
		<% end %>
	</a>

	<ul class="notification-dropdown dropdown-menu">
		<% if @all_notifications.length > 0 %>
			<% @all_notifications.each do |notification| %>
				<li class="<%= notification.is_read ? 'read' : '' %>">
					<a href="<%= notification_path(notification) %>">
						<%= avatar(User.find(notification.provokesUser), :tiny) %>
						<%= notification.message.html_safe %>
					</a>
				</li>

				<li class="divider"></li>
			<% end %>
		<% else %>
			<li><%=t "application.notifications_unread" %></li>
		<% end %>
	</ul>
</li>