<div class="span5 offset3">
	<div class="pagination">
		<ul>
			<li class="disabled"><a href="#prev"><%=t "helpers.prev" %></a></li>
			<li class="active"><a href="#1">1</a></li>
			<li><a href="#2">2</a></li>
			<li><a href="#3">3</a></li>
			<li><a href="#4">4</a></li>
			<li><a href="#5">5</a></li>
			<li><a href="#next"><%=t "helpers.next" %></a></li>
		</ul>
	</div>

	<br />

	<div class="well">
		<ul class="hint clearfix">
			<li id="hint1">
				<h3><i class="icon icon-info-sign"></i> <%=t "hints.hints_title" %></h3>
				<%=t "hints.hints_content" %>
			</li>

			<li id="hint2">
				<h3><i class="icon icon-question-sign"></i> <%=t "hints.popover_title" %></h3>

				<img src="/assets/hints/2.png" class="pull-right" />

				<%=t "hints.popover_content" %>
			</li>

			<li id="hint3">
				<h3><i class="icon icon-home"></i> <%=t "popover.instances_title" %></h3>
				<%=t "popover.instances_content" %>

				<br />

				<div align="center">
					<img src="/assets/hints/3.png" />
				</div>
			</li>

			<li id="hint4">
				<h3><i class="icon icon-user"></i> <%=t "popover.relationship_title" %></h3>

				<%=t "popover.relationship_content" %>

				<br />

				<div align="center">
					<img src="/assets/hints/4_<%= I18n.locale %>.png" />
				</div>
			</li>

			<li id="hint5">
				<h3><i class="icon icon-user"></i> <%=t "popover.links_title" %></h3>

				<%=t "popover.links_content" %>

				<br />

				<div align="center">
					<img src="/assets/hints/5_<%= I18n.locale %>.png" />
				</div>
			</li>
		</ul>

		<br />
		<div align="center">
			<%= link_to t("helpers.links.cancel"), instances_path, :class => 'btn btn-small' %>
		</div>
	</div>

	<script type="text/javascript">
		$(function() {
			var currentHint = 1;
			var maxHints = $('ul.hint li').hide().length;
			var prev = $('a[href="#prev"]').parent();
			var next = $('a[href="#next"]').parent();
			$('li#hint' + currentHint).show();

			$('div.pagination a').each(function(i, e) {
				$(e).click(function(e) {
					var jumpTo = $(e.target).attr('href').replace('#', '');

					$('a[href="#' + currentHint + '"]').parent().removeClass('active');
					$('li#hint' + currentHint).hide();
					prev.removeClass('disabled');
					next.removeClass('disabled');

					console.log(currentHint, maxHints);

					if (jumpTo == "next" && currentHint < maxHints) {
						currentHint++;
					} else if (jumpTo == "prev" && currentHint > 1) {
						currentHint--;
					} else if (currentHint < maxHints && currentHint > 1) {
						currentHint = jumpTo;
					}

					$('li#hint' + currentHint).show();
					$('a[href="#' + currentHint + '"]').parent().addClass('active');

					if (currentHint == maxHints) {
						next.addClass('disabled');
					} else if (currentHint == 1) {
						prev.addClass('disabled');
					}

					e.preventDefault;
					return false;
				})
			});
		});
	</script>
</div>