.well
  %h1= t('wiki.headline')

  %ul#wikiTabs.nav.nav-tabs
    %li.active
      %a{href: "#home"}= t('wiki.tabs.home')
    %li
      %a{href: "#pages"}= t('wiki.tabs.pages')

  .tab-content
    #home.tab-pane.active
      tab1

    #pages.tab-pane
      tab2

  :javascript
    $(function () {
      $('#wikiTabs a:first').tab('show');

      $('#wikiTabs a').click(function (e) {
        e.preventDefault();
        $(this).tab('show');
      });
    })

  %table
    %tr
      %th Title
      %th Content
      %th User
      %th Channel
      %th
      %th
      %th
    - @pages.each do |page|
      %tr
        %td= page.title
        %td= page.content
        %td= page.user
        %td= page.channel
        %td= link_to 'Show', page
        %td= link_to 'Edit', edit_channel_wiki_path(page)
        %td= link_to 'Destroy', page, method: :delete, data: { confirm: 'Are you sure?' }
  %br/
  = link_to 'New Page', new_channel_wiki_path(@current_channel)
