= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
  %fieldset
    %div{:class => "clearfix"}
      = f.text_field :email, class: 'text_field', placeholder: t('helpers.email')

    %div{:class => "clearfix"}
      = f.password_field :password, class: 'text_field', placeholder: t('helpers.password')


    / %div{:class => "btn-group pull-left"}
    /   %button#remember-me{:class => "btn btn-inverse no-lock", :type => "button", "data-toggle" => "button"}
    /     %i{:class => "icon-lock icon-white"}
    /     = t("devise.remember_me")


    /   %a{:class => "btn btn-inverse fixed-width dropdown-toggle", "data-toggle" => "dropdown" }
    /     %i{:class => "icon icon-cog" }


    /   %ul{:class => "dropdown-menu" }
    /     %li
    /       = link_to new_user_password_path do
    /         %i{:class => "icon icon-lock"}
    /         = t("users.password_lost")
    /     %li
    /       = link_to new_registration_path(resource_name) do
    /         %i{:class => "icon icon-check"}
    /         = t("helpers.sign_up")

    :javascript
      $(function() {
        $("button#remember-me").click(function(e) {
          var target = $(event.target);
          var active = target.hasClass('active');
          var i = target.children("i");

          $('input#remember-me-input').val(active ? 0 : 1);

          if (active) {
          i.removeClass("icon-ok").addClass("icon-lock");
          } else {
            i.removeClass("icon-lock").addClass("icon-ok");
          }
        });
      });

    .sign-in-with
      %span
        = link_to image_tag("/assets/auth/facebook.png"), user_omniauth_authorize_path(:facebook)

      %span
        = link_to image_tag("/assets/auth/google.png"), user_omniauth_authorize_path(:google_apps)

      %span
        = link_to image_tag("/assets/auth/github.png"), user_omniauth_authorize_path(:facebook)

      %button#sign_in.btn.btn-inverse.fixed-width.pull-right{:name => "commit", :type => "submit"}
        %i.icon.icon-off
        = t("helpers.sign_in")

    .links
      %span.pull-left
        = link_to new_registration_path(resource_name) do
          %i.icon.icon-user
          = t("application.no_account")

      %span.pull-right
        = link_to new_user_password_path do
          %i.icon.icon-warning-sign
          = t("users.forgot_password")

    = hidden_field_tag "user[remember_me]", 0, {:id => 'remember-me-input'}

  = render "links"
