  <div class="well">
    <h1>
      <i class="icon icon-home"></i>
      Channels
    </h1>

    <ul class="channels nav nav-list">
      <% channels.each do |channel| %>
        <% active = channel == @current_channel %>
        <% notificationCount = channel.notification_count(current_user) %>

        <li class="<%= active ? 'active' : '' %>">
          <i class="icon icon-chevron-<%= active ? 'down' : 'right' %> pull-left"> </i>

          <%= link_to channel_path(channel) do %>
            <% if notificationCount > 0 %>
              <span class="notification-badge badge badge-info">
                <%= notificationCount %>
              </span>

              &nbsp;
            <% end %>

            <strong>
              <%= channel.name %>
            </strong>
          <% end %>
        </li>

        <% if active %>
          <% active = @active_section == :discussions %>
          <li class="sub-navi <%= active ? 'active' : '' %>">
            <i class="<%= active ? '' : 'muted' %> icon icon-comment pull-left"></i>

            <a href="<%= channel_messages_path(@current_channel) %>">
              Discussions

              <% if active %>
                <i class="icon icon-chevron-right pull-right"> </i>
              <% end %>
            </a>
          </li>

          <% active = @active_section == :wiki %>
          <li class="sub-navi <%= active ? 'active' : '' %>">
            <i class="<%= active ? '' : 'muted' %> icon icon-book pull-left"></i>

            <a href="#">
              Wiki

              <% if active %>
                <i class="icon icon-chevron-right pull-right"> </i>
              <% end %>
            </a>
          </li>

          <% if can? :edit, @current_channel %>
            <% active = @active_section == :members %>
            <li class="sub-navi <%= active ? 'active' : '' %>">
              <i class="<%= active ? '' : 'muted' %> icon icon-user pull-left"></i>

              <a href="<%= channel_relationships_path(@current_channel) %>">
                Members

                <% if active %>
                  <i class="icon icon-chevron-right pull-right"> </i>
                <% end %>
              </a>
            </li>

            <% active = @active_section == :settings %>
            <li class="sub-navi <%= active ? 'active' : '' %>">
              <i class="<%= active ? '' : 'muted' %> icon icon-cog pull-left"></i>

              <a href="<%= edit_channel_path(@current_channel) %>">
                Settings

                <% if active %>
                  <i class="icon icon-chevron-right pull-right"> </i>
                <% end %>
              </a>
            </li>
          <% end %>

          <li>&nbsp;</li>
        <% end %>
      <% end %>
    </ul>
  </div>
