<% if has_admin_privileges? %>
  <li class="dropdown iconOnly">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown"
      rel="tooltip" title="<%=t 'tooltip.instanceSettings' %>"
      data-placement="bottom">
      <i class="icon-cog"></i>
    </a>

    <ul class="instances-dropdown dropdown-menu">
      <li>
        <%= link_to relationships_path do %>
          <i class="icon icon-user"></i>
          <%= t "application.user_management" %>
        <% end %>
      </li>

      <li>
        <%= link_to links_path do %>
          <i class="icon icon-screenshot"></i>
          <%= t "application.link_management" %>
        <% end %>
      </li>

      <li>
        <%= link_to edit_instance_path(current_instance) do %>
          <i class="icon icon-cog"></i>
          <%= t "instances.edit" %>
        <% end %>
      </li>
    </ul>
  </li>
<% end %>