<h1>Listing availabilities</h1>

<table>
  <tr>
    <th>User</th>
    <th>Date</th>
    <th>Value</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @availabilities.each do |availability| %>
  <tr>
    <td><%= availability.user %></td>
    <td><%= availability.date %></td>
    <td><%= availability.value %></td>
    <td><%= link_to 'Show', availability %></td>
    <td><%= link_to 'Edit', edit_availability_path(availability) %></td>
    <td><%= link_to 'Destroy', availability, confirm: t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')), method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Availability', new_availability_path %>
