<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @availability.user %>
</p>

<p>
  <b>Date:</b>
  <%= @availability.date %>
</p>

<p>
  <b>Value:</b>
  <%= @availability.value %>
</p>


<%= link_to 'Edit', edit_availability_path(@availability) %> |
<%= link_to 'Back', availabilities_path %>
