!!!
%html
  %head
    %title
      - if @unread_notification_count > 0
        (#{@unread_notification_count}) &nbsp;
      = @subwireTitle
    = render partial: 'shared/head'
    - if current_channel.nil?
      :javascript
        window.subwireTitle = "#{@subwireTitle}";
    - else
      :javascript
        window.subwireTitle = "#{current_channel.name}";
        window.channel_path = "#{channel_path(current_channel)}"
  %body
    = render partial: 'shared/popovers'

    .navbar.navbar-fixed-top
      .navbar-inner
        .container-fluid
          %a.btn.btn-navbar.no-lock{"data-target" => ".nav-collapse", "data-toggle" => "collapse"}
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          %ul.nav
            %li
              = link_to "subwire", channels_path, class: "brand"
          .nav-collapse
            %ul.nav
              %li.divider-vertical
              %li.dropdown
                %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
                  = avatar current_user, :tiny, 'current-user'
                  = current_user.name
                  %b.caret
                %ul.admin-dropdown.dropdown-menu
                  %li
                    = link_to user_path(current_user) do
                      %i.icon.icon-user
                      = t("application.your_profile")
                  %li
                    = link_to edit_user_path(current_user) do
                      %i.icon.icon-cog
                      = t("application.edit_your_profile")
                  %li
                    = link_to destroy_user_session_path do
                      %i.icon.icon-remove
                      = t("application.logout")
              %li.divider-vertical
              = render partial: 'shared/navbar/notifications'
              = render partial: 'shared/navbar/adminMenu'
              - if current_channel
                %li#new-message.iconOnly
                  %a{:href => "#", :onclick => "return false;"}
                    %i.icon.icon-plus-sign
              = render partial: 'shared/navbar/availability'
            %ul.nav.pull-right
              - unless current_channel.nil?
                = form_tag channel_path(current_channel), class: 'navbar-search', method: :get do
                  = text_field_tag :query, params[:query], class: 'search-query', |
                    placeholder: t('application.search')                          |
    .container-fluid.content
      .row-fluid
        .sidebar
          = render partial: 'shared/channelSwitcher'
          - unless current_channel.nil?
            - if @sidebar_links.length > 0
              .well
                %h1
                  %i.icon.icon-heart
                  = t("application.bookmarks")
                %ul.bookmarks.nav.nav-list
                  - @sidebar_links.each do |link|
                    %li
                      = link.icon
                      %a{:href => link.href, :target => "_blank"}
                        = link.name
            .well
              %h1
                %i.icon.icon-user
                = t("application.user")
              #user-box
                = render partial: 'shared/user_box', locals: {sidebar_users: @sidebar_users}
        .maincontent
          = yield
          = render partial: 'shared/footer'
    = render partial: 'shared/flash_messages'
    = render partial: 'shared/ga'
