!!!
%html
  %head
    %title
      = @subwireTitle
    = render partial: 'shared/head'

  %body.empty
    .navbar.navbar-fixed-top
      .navbar-inner
        .container-fluid
          %a.btn.btn-navbar.no-lock{"data-target" => ".nav-collapse", "data-toggle" => "collapse"}
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          %ul.nav
            %li
              = link_to "subwire", channels_path, class: "brand"
          .nav-collapse
            %ul.nav
              %li.divider-vertical
              = render partial: 'shared/navbar/adminMenu'
    .container-fluid.content
      .row-fluid
        .maincontent
          = yield
          = render partial: 'shared/footer'
    = render partial: 'shared/flash_messages'
    = render partial: 'shared/ga'
