<!DOCTYPE html>
<html>
	<head>
		<title><%= @subwireTitle %></title>

		<!--[if lt IE 9]>
			<script src="http://html5shim.googlecode.com/svn/trunk/html5.js" type="text/javascript">
			</script>
		<![endif]-->

		<%= stylesheet_link_tag    "application", :media => "all" %>
		<%= javascript_include_tag "application" %>
		<%= csrf_meta_tags %>

		<link rel="shortcut icon" href="/assets/favicon.png" />

		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	</head>

	<body class="login">
		<div class="navbar navbar-fixed-top">
			<div class="navbar-inner">
				<div class="container">
					<% if current_user %>
						<ul class="nav logout">
							<li>
								<%= link_to destroy_user_session_path, :method => :delete do %>

							    	<i class="icon icon-remove"></i>
									<%= t "application.logout" %>
								<% end %>
							</li>
						</ul>
					<% end %>

					<a class="brand" href="/">Subwire</a>
				</div>
			</div>
		</div>

		<div class="container">
			<div class="row">
				<div class="login-form <%= @containerClass %>">
					<%= yield %>
				</div>
			</div>



			<%= render :partial => 'shared/footer' %>
		</div>

		<%= render :partial => 'shared/flash_messages' %>
	</body>
</html>
