<!DOCTYPE html>
<html>
  <head>
    <title>
      <% if @notificationCount && @notificationCount > 0 %>
        (<%= @notificationCount %>) &nbsp;
      <% end %>

      <%= @subwireTitle %>
    </title>

    <%= render partial: 'shared/head' %>
  </head>

  <body class="login">
    <%= background = login_background %>

    <img class="background-image" src="/assets/backgrounds/<%= background[:file] %>" />

    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <% if current_user %>
            <ul class="nav logout">
              <li>
                <%= link_to destroy_user_session_path do %>
                    <i class="icon icon-remove"></i>
                  <%= t "application.logout" %>
                <% end %>
              </li>
            </ul>
          <% end %>

          <a class="brand" href="/"><span>Sub</span>wire</a>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="login-form <%= @containerClass %>">
          <%= yield %>
        </div>
      </div>

      <%= render partial: 'shared/footer', :locals => {:background => background} %>
    </div>

    <%= render partial: 'shared/flash_messages' %>
    <%= render partial: 'shared/ga' %>
  </body>
</html>
